<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>about ngblock</mat-card-title>
        <mat-card-subtitle>version 4.0.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione eum, placeat laudantium officia, tempora quo pariatur ut est necessitatibus deserunt laboriosam, cupiditate molestias iusto sint ipsum iste molestiae reiciendis harum!
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione eum, placeat laudantium officia, tempora quo pariatur ut est necessitatibus deserunt laboriosam, cupiditate molestias iusto sint ipsum iste molestiae reiciendis harum!
        </p>
    </mat-card-content>
</mat-card>