
    a{
        cursor: pointer;
        color: white;
        text-decoration: none;
      }
  
    
    img{
      height: 200px;
    }
    p.content{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }